{% extends 'index.html' %}
{% block title %}
Учреждения СПО Владимирской области
{% endblock %}
{% block body %}
<div class="container mt-5">
<section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
        {% for el in array %}
            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
                <div class="member d-flex align-items-start">
                  <div class="pic"><img src="{{el[14][1]}}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>{{el[3][1]}}</h4>
                      <h3><a href="{{el[9][1]}}" target="_blank">{{el[4][1]}}</a></h3>
                      <span>ФИО Директора <h4>{{el[6][1]}}</h4></span>
                      <span> <a href="mailto:{{el[8][1]}}">Написать</a>  </span>
                      <span> <a href="tel:{{el[8][1]}}">Позвонить{{el[7][1]}}</a>  </span>
                  </div>
                </div>
              </div>
        {% endfor %}
      </div>
</section>
    {% endblock %}